.text-title {
    font-size: 70px;
    font-family: 'Hind Siliguri', sans-serif;
}
.text-description {
    font-size: 30px;
    font-family: 'Hind Siliguri', sans-serif;
}
.img-sobre-nosotros{
    width: 400px;
    height: 400px;
}

.efecto-foto {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.efecto-foto:hover, .efecto-foto:focus, .efecto-foto:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

